.MMM-nextbike header {
	margin-bottom: 4px;
}

.MMM-nextbike .stationsList {
	list-style: none;
	margin: 6px 0;
}

.MMM-nextbike .stationName {
	text-transform: uppercase;
}

.MMM-nextbike .stationInfo {
	padding-left: 4px;
	color: #c1c1c1;
}

.MMM-nextbike .stationInfo .available-bikes {
	font-size: 1.75rem;
	color: white;
}
.MMM-nextbike .stationInfo .total-bikes {
	font-size: 0.85rem;
}